{{ $title := .CustomTag }}
{{ range .ExtraSchemas }}
{{- if .Enum }}
export enum {{ trimPrefix (pascalize .Name) $title }} {
{{- range .Enum }}
  {{ . }} = <any> '{{ . }}',
{{- end }}
}
{{- else if .Properties }}
export interface {{ trimPrefix (pascalize .Name) $title }} {
{{- range .Properties }}{{ $goType := trimPrefix .GoType $title }}
  {{ camelize .Name }}{{ if not .Required }}?{{ end }}: {{ schemaTsType $goType $title }};
{{- end }}
}
{{- end }}
{{ end }}
